body {
	font-family: 'Oxygen', sans-serif;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
	text-justify: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

header, .github {
	text-align: center;
	padding: 30px;
}

header img {
	width: 99%;
}

footer, footer a {
	font-size: smaller;
	color: gray;
}

footer span {
	display: inline-block;
	min-width: 45px;
}

footer ul {
	list-style-type: none;
}
